body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.125rem;
    letter-spacing: normal;
    display: grid;
    margin: 0;
    padding: 0;
}

header {
    background-color: #0c5f5f;
    height: 35px;
    width: 100%;
}

.first-nav {
    grid-area: right;
}

.registration {
    grid-area: left;
    margin-left: auto;
}

.ribbon-nav {
    width: 980px;
    display: grid;
    grid-template-areas: 'right right right right left';
    align-items: center;
    padding: 0.5rem 2rem;
    margin-left: auto;
    margin-right: auto;
    border-top: 0.2px solid black;
}

nav ul,
.registration ul, 
.media ul,
.footer-info ul {
    list-style-type: none;
    padding: 0rem;
    margin: 0rem;
    font-size: 0.9rem;
}

nav li,
.registration li, 
.media li, 
.footer-lower li {
    display: inline-block;
}

.next {
    border-left: 3px solid #fff;
}

a {
    color: #333;
    text-decoration: none;
}

nav li a,
.registration li a, 
.footer-ribbon li i, 
.footer-info li span {
    color: #fff;
    padding: 0.3rem;
    text-decoration: none;
}

nav li a:hover,
.registration li a:hover,
.breadcrumb_item li a:hover {
    text-decoration: underline 0.1rem;
}

.registration-icon {
    color: #fff;
    font-size: 1.30rem;
}

.logo {
    grid-area: logo;
}

.search-field {
    grid-area: search;
}

.ribbon-search {
    width: 100%;
    height: 110px;
}

.brand {
    width: 980px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-areas: 'logo search';
}

.search {
    display: flex;
    width: 260px;
    margin-left: auto;
}

input {
    box-sizing: border-box;
    font-size: 15px;
    padding: 13px;
    border: 1.5px solid #bdbdbd;
}

input:focus {
    outline: none;
    border: 2.5px solid #719ece;
    border-right: none;
}

.main-nav {
    background-color: #fff;
    border-bottom: 1px solid #bdbdbd;
    border-top: 1px solid #bdbdbd;
}

.stack {
    background-color: #be2a77;
    width: 48px;
}

.magnifying-glass {
    color: #fff;
    font-size: 1.6rem;
    position: relative;
    padding: 0.7rem;
}

.nav-list,
.breadcrumb, 
.justify-content-center {
    width: 980px;
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 20px;
    padding-right: 20px;
}

.nav-item,
.nav-item-wildcard,
.breadcrumb_item {
    background-color: transparent;
    color: #333;
    height: 100%;
    width: auto;
    border: none;
    position: relative;
    list-style-type: none;
}

.nav-text,
.nav-text_subscribe,
.container {
    font-size: 1.11rem;
    padding-top: 1px;
}

.nav-text_subscribe {
    margin-left: auto;
}

.nav-link,
.nav-link-special,
.nav-link-subscription {
    align-items: baseline;
    display: flex;
    height: 100%;
    padding-bottom: 15px;
    padding-top: 15px;
    padding-right: 23px;
}

.nav-icon {
    padding: 1px;
    color: #be2a77;
    font-size: 1.5rem;
}

a.nav-link:hover,
a.nav-link-special:hover,
a.nav-link-subscription:hover {
    background-color: #bdbdbd;
}

.fa-caret-down {
    position: relative;
    left: 3px;
    bottom: -3px;
}

a.nav-link-special,
a.nav-link-subscription {
    position: relative;
    padding-bottom: 9px;
}

a.nav-link-special {
    color: #be2a77;
}

a.nav-link-subscription {
    color: #447d75;
}

main {
    background-color: #e2e2e2;
}

.container,
.heading,
section, .footer-ribbon, 
.footer-info, 
.disclaimer {
    font-weight: lighter;
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    width: 980px;
    margin-left: auto;
    margin-right: auto;
    color: #333;
}

.heading h1 {
    font-family: Georgia, Times, serif;
    font-weight: lighter;
    text-align: center;
    font-size: 2.3rem;
    line-height: 3rem;
    letter-spacing: -0.0625rem;
}

.heading p {
    font-weight: lighter;
    text-align: center;
    font-size: 1rem;
    line-height: 1.6rem;
    letter-spacing: normal;
}

section h2 {
    font-size: 1.8rem;
    font-weight: lighter;
    line-height: 2.5rem;
    letter-spacing: -0.0625rem;
    margin: 0px;
}

.recipes {
    width: 980px;
}

.recipes-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    margin-top: 5px;
    margin-bottom: 50px;
}

.recipe, 
 .justify-content-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-recipe {
    display: block;
}

.photo-recipe {
    width: 306px;
    margin: 0px;
    padding: 0px;
    display: block;
}

.recipe-info {
    margin: 0px;
    padding: 14px;
    width: 306px;
    height: 70px;
    box-sizing: border-box;
    text-align: left;
    background-color: #fff;
}

h4 {
    margin: 0px;
    padding: 15px;
}

.standard-section {
    background-color: #fff;
    padding: 18px 0;
    line-height: 0;
    margin-top: 20px;
    margin-bottom: 30px;
    text-align: center;
}

.standard-section_button {
    margin: 10px 0px;
}

.button {
    background-color: #be2a77;
    border-radius: 3px;
    color: #fff;
    padding: 10px 45px;
    text-transform: none;
    letter-spacing: -0.03rem;
    line-height: 1.625rem;
    font-family: Arial, Arial, Helvetica, sans-serif;
    font-size: 1.1rem;
}

.breadcrumb {
    font-size: 0.9rem;
    padding: 15px 0 0;
    margin: 0 0 20px;
}

.breadcrumb_item {
    padding-right: 8px;
}

.breadcrumb_icon {
    background-image: none;
}
footer {
    background-color: #333;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
.footer-ribbon {
    display: flex;
    padding-right: 25px;
}

.logo-footer {
    align-self: center;
}
.media i{
    font-size: 1.3rem;
}
.media a {
    padding-right: 10px;
}
.footer-lower {
    background-color: rgb(116, 114, 114);
    padding-bottom: 15px;
}
.footer-info {
    padding-bottom: 15px;
}
.footer-info li::before {
    background: #fff;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    content: "";
}
.footer-info li {
    font-size: 0.8rem;
    position: relative;
    display: inline-flex;
    align-items: center;
    padding: 0 10px;
}
.footer-info span {
    color: #fff;
}
.disclaimer {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 0;
    border-top: 1px solid #fff;  
}

.corporate-logo {
    margin: 20px 20px 20px 0px;
}

.copyright-text small{
    line-height: 1.5rem;
    position: relative;
    top: calc(1rem - 20px);
    color: #fff;
    display: block;
    margin-top: 20px;
}
.copyright-text {
    flex: 1;
    margin-right: 60px;
}

.BBC-logo {
    width: 80px;
    height: 38px;
    display: block;
    padding-left: 1rem;
    margin-top: 20px;
}
.newsletter-sign-up {
    background-color: #bdbdbd;
    text-align: center;
    width: 980px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 55px;
}

span.standard-button_visible {
    color: #fff;
    font-size: 1.1rem;
}

.standard-button_inner {
    line-height: 1.625rem;
    display: inline-block;
}

.standard-button {
    padding: 8.5px 50px;
    margin: 0px;
    background-color: #be2a77;
    border: 2px solid #be2a77;
    border-radius: 3px;
}
.form-control {
    margin-left: 10px;
}

.heading-newsletter-sign-up {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.75rem;
    line-height: 2.25rem;
    letter-spacing: -.0625rem;
    margin-bottom: 15px;
}
.newsletter-sign-up-description {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.12rem;
    line-height: 1.68rem;
    letter-spacing: normal;
    margin-bottom: 15px;
}

.input-text {
    height: 50px;
    width: 345px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.12rem;
    background-color: #fff;
    color: #333;
    border: 1px solid #a1a1a1;
    border-radius: 3px;
    padding: 10px;
    text-shadow: none;
}

.col {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-bottom: 5px;
}
.body-copy-extra-small {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.85rem;
    line-height: 1.30rem;
    letter-spacing: normal;
    color: #333;
    text-transform: none;
    /*margin: 20px 0px;*/
}

a.link-copy {
    color: #be2a77;
    text-decoration: underline;
} 
.col-md-5 {
    display: flex;
    flex-direction: column;
}